.App {
  text-align: center;
}

.App .action{
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

.detail-status-red{
  font-weight: 700;
  color: red;
}

.detail-status-green{
  font-weight: 700;
  color: green;
}

.detail-workTime{
  font-size: 17px;
  font-weight: 700;
}
